body{
  background-color:#eee;
}

@media (max-width: 991.98px) {
  #featured-image {
    display: none;
  }
}

.card{
  
  border:none;
}

.user-content p{
  margin-top:5px;
  font-size:12px;
}


.ratings i{
  color:blue;
}